* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  position: relative;
  height: 100vh;
  background-color: rgb(240, 240, 240);
}
.content-post {
  display: flex;
  justify-content: center;
}
.post-body {
  box-shadow: 2px 2px 12px 0px rgb(233, 232, 232);
  overflow: hidden;
  background-color: #fff;
  padding: 1rem;
  width: 50%;
  border-radius: 9px;
}
.user-infor {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
}
h2 {
  position: relative;
  display: inline-block;
  top: -26px;
}
.user-pro-pic {
  position: relative;
  width: 50px;
  border-radius: 50px;
}
.date-time {
  position: relative;
  margin-left: 3.3rem;
  margin-top: -23px;
}
.description {
  position: relative;
  padding: 0.7rem;
  margin-left: -12px;
}
.upload-img {
  position: relative;
  width: 100%;
}
.like-comment-preview {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 0.5rem;
  justify-content: space-between;
}
.likes-preview {
  font-size: 16px;
  display: flex;
  align-items: center;
}
.likes-preview .fa-thumbs-up,
.fa-heart {
  position: relative;
  border-radius: 50px;
  background-color: rgb(19, 128, 200);
  color: white;
  padding: 5%;
  border: 2px solid white;
}
.fa-thumbs-up {
  z-index: 211;
}
.fa-heart {
  background-color: rgb(227, 40, 40);
  margin-left: -6px;
}
.count-likes {
  margin-left: 2%;
  margin-top: 5px;
}
.likes-comment-share-icons {
  position: relative;
  width: 100%;
  border-top: 1px solid gray;
  padding: 1rem 0;
  display: flex;
  justify-content: space-evenly;
  font-size: 20px;
  color: rgb(51, 51, 51);
}
.likes-comment-share-icons > div {
  cursor: pointer;
}
.likes-comment-share-icons > div:nth-child(1):focus {
  color: rgb(19, 128, 200);
}
.likes-comment-share-icons i {
  font-size: 16px;
}
.post-option-icons {
  color: rgb(78, 78, 78);
  font-size: 22px;
}
.post-option-icons > span {
  position: relative;
  margin: 0 1rem;
  color: rgb(51, 51, 51);
}
