:root{
  --a: calc((464px*100%)/680px)
}
* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
}
.container {
  position: relative;
  background-color: rgb(240, 240, 240);
}
.content-post {
  display: flex;
  justify-content: center;
}
.post-body {
  box-shadow: 2px 2px 12px 0px rgb(233, 232, 232);
  overflow: hidden;
  background-color: #fff;
  padding: 1rem;
  max-width: 680px;
  width: var(--a);
  min-width: 464;
  border-radius: 9px;
}
.user-wrap {
  justify-content: space-between;
  display: flex;
}
.user-content {
  margin-left: 10px;
}
.user-infor {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.text-title {
  position: relative;
  display: inline-block;
  font-size: 18px;
}
.user-pro-pic {
  position: relative;
  width: 50px;
  border-radius: 50px;
}
.date-time {
  position: relative;
  margin-left: 3.3rem;
  margin-top: -23px;
}
.description {
  padding: 0.7rem;
  margin-left: -12px;
  white-space: pre-wrap;
}
.upload-img {
  position: relative;
  width: 100%;
}
.like-comment-preview {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 0.5rem;
  justify-content: space-between;
}
.likes-preview {
  display: flex;
  align-items: center;
}
.likes-preview .fa-thumbs-up,
.fa-heart {
  position: relative;
  border-radius: 50px;
  background-color: rgb(19, 128, 200);
  color: white;
  padding: 5%;
  border: 2px solid white;
}
.fa-thumbs-up {
  z-index: 211;
}
.fa-heart {
  background-color: rgb(227, 40, 40);
  margin-left: -6px;
}
.count-likes {
  margin-left: 2%;
  margin-top: 5px;
}
.likes-comment-share-icons {
  position: relative;
  width: 100%;
  border-top: 1px solid gray;
  padding: 1rem 0;
  display: flex;
  justify-content: space-evenly;
  font-size: 15px;
  color: rgb(51, 51, 51);
}
.likes-comment-share-icons > div {
  cursor: pointer;
}
.likes-comment-share-icons > div:nth-child(1):focus {
  color: rgb(19, 128, 200);
}
.likes-comment-share-icons i {
  font-size: 15px;
}
.post-option-icons {
  color: rgb(78, 78, 78);
  font-size: 22px;
}
.post-option-icons > span {
  position: relative;
  margin: 0 1rem;
  color: rgb(51, 51, 51);
}

/* comment */
.comment-box, 
.post-comment .list{
  background: #fff;
  border-radius: 6px;
  box-shadow: 0 2px 2px #0002;
}
.comment-session{
  width: 650px;
  height: auto;
  margin: 0 auto;
}
.post-comment .list{
  width: 100%;
  margin-bottom: 12px;
}
.post-comment .list .user{
  display: flex;
  padding: 8px;
  overflow: hidden;
}
.post-comment .list .user img{
  height: 38px;
  width: 38px;
  margin-right: 10px;
  border-radius: 50px;
}
.comment-session .name{
  text-transform: uppercase ;
  font-weight: 500;
}
.post-comment .list .day{
  font-size: 12px;

}
.post-comment .comment-post{
  padding: 0 0 15px 58px;
}

/* comment-box */
.comment-box{
  display: flex;
  padding: 10px ;
  overflow: hidden;
}
.comment-box .user{
  /* display: flex; */
  width: min-content;
}
.comment-box .image img{
  width: 24px;
  height: 24px;
  margin-right: 10px;
  border-radius: 50%;
}
.comment-box input{
  background: #eee;
  width: -webkit-fill-available;
  /* height: 152px; */
  margin: 10px 0;
  padding: 8px 12px;
  resize: inherit;
  border-radius: 30px;
  box-shadow: 0 0 0 0.5px #0003;
  justify-content: center;

}
.comment-box input:focus-visible{
  box-shadow: inset 0 0 0 1px #009cff;
  outline: none;
}
.comment-box .comment-submit{
  float: right;
  padding: 6px 10px;
  border:none;
  background: #009cff;
  color: #eee;
  cursor: pointer;
  border-radius: 3px;
}
.comment-box .comment-submit:hover{
  background: #0076bf;
}
@media screen and (max-width:660px){
  .comment-session{width: 100%;}
}