:root{
  --a: calc((464px*100%)/680px)
}
* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
}
.container {
  position: relative;
  height: 100vh;
  background-color: rgb(240, 240, 240);
}


